html,
body,
h1,
p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.cm-block {
  position: relative;
  padding: 25px 15px 25px;
  background-color: var(--green-light-transparent);
  border-radius: 5px;
  border: 2px solid var(--green);

  @media (min-width: 1100px) {
    border: none;
  }
}

.cm-field {
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  background-color: var(--green);
  border-radius: 5px;
  color: var(--biege);
  outline-offset: 2px;
  outline: 1px solid var(--green);
  appearance: none;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }

  &::-webkit-calendar-picker-indicator {
    display: none !important;
  }

  &::-moz-calendar-picker-indicator {
    display: none !important;
  }

  &:focus {
    outline-width: 2px;
  }
}
