:root {
  // Fonts
  --main: 'Roboto', sans-serif;
  --gothic: 'Grenze Gotisch', serif;

  // Colors
  --green: #6b8068;
  --green-light: #c4ccc3;
  --green-light-transparent: #c4ccc3b2;
  --biege: #ece4d4;
  --black: #000;
  --white: #fff;
}
