.wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 20px !important;
}

.date {
  margin-left: 0.5rem;
  font-weight: 700;
}

.icon {
  display: flex;
  font-size: 1.2rem;
}
