.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 15px;
  background-color: var(--green-light-transparent);
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  @media (hover) {
    &:hover {
      transform: scale(1.02);
      background-color: var(--green-light);
    }
  }
}

.date {
  margin-left: 0.5rem;
}

.icon {
  display: flex;
  font-size: 1.3rem;
}
