%fullscreen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapperOuter {
  position: fixed;
  @extend %fullscreen;
  overflow: hidden auto;
  padding: 35px 20px 20px;
  font-family: var(--main);
}

.background {
  position: fixed;
  @extend %fullscreen;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapperInner {
  max-width: 450px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 25px 5px #000000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 18px;
  font-size: 1.6rem;
  font-family: var(--gothic);
  background-color: var(--green);

  h1 {
    line-height: 1;
    font-size: inherit;
  }
}

.main {
  position: relative;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.message {
  position: absolute;
  @extend %fullscreen;
}

.footer {
  padding: 10px 15px;
  text-align: center;
  font-family: var(--gothic);
  font-size: 1.1rem;
  background-color: var(--green);
}

.email {
  margin-left: 1rem;
  color: var(--green-light);
  transition: color 0.25s ease-in-out;

  @media (hover) {
    &:hover {
      color: var(--biege);
    }
  }
}
